<section class="section-copyright-bar bg-dark">
  <div class="container py-4">
    <div
      class="d-flex flex-wrap justify-content-center justify-content-xl-between"
    >
      <div>
        <p class="text-center m-0 text-light mb-2 mb-xl-0">
          Copyright &copy; 2015-2023 Top Line Electrical, LLC. | Website
          developed & hosted by
          <a
            target="_blank"
            class="copyright-link fw-bold"
            href="https://schrader.co/"
            >Schrader Web Solutions</a
          >
        </p>
      </div>
      <div>
        <a target="_blank" class="copyright-link" href="#">Privacy Policy</a>
        <span class="text-light"> | </span>
        <a target="_blank" class="copyright-link" href="#">Terms Conditions</a>
      </div>
    </div>
  </div>
</section>
