<nav class="navbar navbar-expand-md bg-client-yellow">
  <div class="container-fluid justify-content-center">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav nav-underline text-dark gap-0">
        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li> -->
        <li class="nav-item fw-bold">
          <a class="nav-link" href="/electrical-services-traverse-city"
            >Electrical Services</a
          >
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="service-area">Service Area</a>
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="free-estimate">Free Estimate</a>
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="reviews">Reviews</a>
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="about-us">About Us</a>
        </li>
        <li class="nav-item fw-bold">
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
