<div
  class="services-nav-container bg-client-yellow-accent ps-5 py-5 d-none d-md-block"
>
  <ul class="navbar-nav nav-underline text-dark gap-0 fw-bold">
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/automation-controls">Automation Controls</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/commercial-electricians">Commercial</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city"
        >Electrical Services</a
      >
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/emergency-electric-service">Emergency Services</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/facility-maintenance">Facility Maintenance</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/industrial-electricians">Industrial</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/new-construction-electricians">New Construction</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/remodel-home-electricians">Remodel</a>
    </li>
    <li class="nav-item nav-item-services">
      <a class="nav-link" href="/electrical-services-traverse-city/residential-electricians">Residential</a>
    </li>
  </ul>
</div>
