<section class="section-leave-review py-8">
  <div class="container text-center">
    <h3 class="fw-bold text-center mb-4">
      Leave us a review on
      <span
        ><a
          target="_blank"
          href="https://www.google.com/maps/place/Top+Line+Electric/@44.662868,-85.6777714,17z/data=!3m1!4b1!4m6!3m5!1s0x881e32a19eb87c7f:0xd65aaee8caee91e7!8m2!3d44.662868!4d-85.6777714!16s%2Fg%2F1tl_mb4q?entry=ttu"
          >Google</a
        ></span
      >
      |
      <span
        ><a target="_blank" href="https://www.facebook.com/toplineelectricllc/"
          >Facebook</a
        ></span
      >
    </h3>
    <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center">
      <a
        target="_blank"
        href="https://www.google.com/maps/place/Top+Line+Electric/@44.662868,-85.6777714,17z/data=!3m1!4b1!4m6!3m5!1s0x881e32a19eb87c7f:0xd65aaee8caee91e7!8m2!3d44.662868!4d-85.6777714!16s%2Fg%2F1tl_mb4q?entry=ttu"
        ><img
          class="review-logo google"
          src="/public/images/google-review.png"
          alt="google G logo"
      /></a>
      <a target="_blank" href="https://www.facebook.com/toplineelectricllc/"
        ><img
          class="review-logo"
          src="/public/images/fb-review.png"
          alt="google G logo"
      /></a>
    </div>
  </div>
</section>
