<section class="section-expertise py-8">
  <div class="container">
    <h2 class="mb-5 fw-bold text-center">Our Expertise</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1581091212911-f4efc3f71c48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=200q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Automation Controls</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Commercial</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/electrical-services-traverse-city" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1615774925655-a0e97fc85c14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Electrical Services</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1595856619767-ab739fa7daae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Emergency Services</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1610891015188-5369212db097?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Facility Maintenance</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1509390144018-eeaf65052242?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Industrial</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1587582423116-ec07293f0395?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">New Construction</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1601760561441-16420502c7e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Remodel</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1555636222-cae831e670b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0 mb-0">Residential</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
