<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/custom.min.css" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ tags }}" />
  </head>
  <body class="bg-white">
    <header>
      <div class="container">
        <div class="d-flex flex-column flex-sm-row  align-items-center justify-content-between mt-4 mt-sm-0">
          <div class="logo">
            <a href="/">
              <img src="/public/images/header-logo_toplineelectric.png" alt="top line electic's logo"></img>
            </a>
          </div>
          <div class="d-flex flex-column my-4">
            <a class="icon-link icon-link-hover text-custom fw-semibold link-underline link-underline-opacity-0 fs-4" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="tel:6031112298">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
              1-866-922-8626
            </a>
            <span class="fw-bold" >Call today for a free estimate</span>
          </div>
        </div>
      </div>
      {% include "_nav.html" %}
    </header>

    <main>{% block content %} {% endblock %}</main>

    {% include "_footer.html" %}
    <script defer src="public/js/bootstrap.min.js"></script>
  </body>
</html>
