{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Top Line Electric, LLC - Traverse City, Michigan Electrical
Services - Electrical Services " %}
<!--  -->
{% set description = "Top Line Electric, located in Traverse City, MI, performs
electrical construction and repair including remodeling and retrofit electrical
service for residential clients and commercial clients plus property management
companies." %}
<!--  -->
{% set imgSrc = "/public/images/topline-hero.jpg" %}
<!--  -->
{% set imgAlt = "topline electric van" %}
<!--  -->
{% set pageTitle = "Electrical Services" %}
<!--  -->

{% block content %}
<!-- ---------------------------------- -->
{% include "_page-header.html" %}
<section class="section-page pt-3">
  <div class="container">
    <div class="row col-gap-4">
      <div class="col-3 d-none d-md-block">
        {% include "_services_nav.html" %}
      </div>
      <div class="col">
        <h2 class="fw-bold">
    Automation Controls        </h2>
        <p>
          The Controls technicians at Top Line Electric genuinely
 enjoy helping their customers become more safe, productive and efficient. With a commitment to quality, we are able to give the best service and keep up with the latest technologies.
        </p>

<h2>
    <strong>Automation Services</strong>
  </h2>
  <p>
    <strong>PLC, HMI and SCADA Programming</strong>
  </p>
  <p>
    Top Line Electric strives to provide it&#8217;s customers with the very best in automated systems.  Our Integrators are very proficient in all of the following programming softwares:
  </p>
        <ul>
    <li>
      Custom Design Control Panels
    </li>
    <li>
      Lift Station Control Panels
    </li>
    <li>
      Security Control Panels
    </li>
  </ul>
  <p>
    <strong>Instrumentation Calibration & Verification</strong>
  </p>
  <p>
    Top Line Electric is capable of handling all of your instrumentation requirements. We can service devices that you currently have as well as install new more advanced instruments. With our Calibration services we will inspect and verify your instruments. Top Line can also help come up with a maintenance plan to project future replacement costs and schedules.
  </p>
  <ul>
    <li>
      Pressure Transmitters
    </li>
    <li>
      Flow Meters
    </li>
    <li>
      Ultrasonic Level transmitters
    </li>
    <li>
      Temperature Devices
    </li>
  </ul>
  <p>
    <strong>RF Design/Wireless Communications for control Systems</strong>
  </p>
  <p>
    Our Automation Technicians are Ubiquiti certified and very experienced with wireless communications. They can design a system to help you maintain control and supervision of your remote locations while maintaining safety, productivity and efficiency.
  </p>
  
      </div>
    </div>
  </div>
</section>
{% include "sections/_services.html" %}
<!--  -->
{% include "sections/_testimonials.html" %}
<!--  -->
{% include "sections/_please-review.html" %}
<!--  -->
{% include "sections/_service-area.html" %}
<!--  -->
{% include "sections/_map.html" %}
<!--  -->
{% endblock %}
