@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// 4. Include any default map overrides here

$body-color: #18191c;
$client-gray: #4b4b4b;
$client-yellow: #f7b515;
$client-yellow-accent: #fde9b9;
$client-purplish-blue: #4862c5;

// Addiing custom colors or override the current ones
$custom-theme-colors: (
  "custom": $client-purplish-blue,
  "client-yellow": $client-yellow,
  "client-yellow-accent": $client-yellow-accent,
  "client-gray": $client-gray,
  "dark": #18191c,
  "light": #fafafa,
  "faded": $gray-300,
  "dark-gray": $gray-600,
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// customer spacers, things like m-*, p-*, etc...
$spacers: (
  0: 0,
  // 0px
  1: $spacer * 0.25,
  // 4px
  2: $spacer * 0.5,
  // 8px
  3: $spacer,
  // 16px
  4: $spacer * 1.5,
  // 24px
  5: $spacer * 2,
  // 32px
  6: $spacer * 2.5,
  // 40px
  7: $spacer * 3,
  // 48px
  8: $spacer * 4,
  // 64px
  9: $spacer * 6,
  // 69px
);
$spacers: map-merge($spacers, $spacers);

// custom font sizing
$font-sizes: (
  1: $h1-font-size,
  // 40px
  2: $h2-font-size,
  // 32px
  3: $h3-font-size,
  // 28px
  4: $h4-font-size,
  // 24px
  5: $h5-font-size,
  // 20px
  6: $h6-font-size,
  // 16px
  7: $font-size-base * 0.875,
  // 14px
  8: $font-size-base * 0.5,
  // 8px
  9: $font-size-base * 0.25,
  // 4px
);
$font-sizes: map-merge($font-sizes, $font-sizes);

$position-values: (
  0: 0,
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  10: 10%,
  15: 15%,
  25: 25%,
  35: 35%,
  50: 50%,
  75: 75%,
  100: 100%,
);

$navbar-padding-y: $spacer * 0.75;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-color: #18191c;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// 8. Add additional custom code here
/**************************/
/* UTILITIES */
/**************************/
.link-hover:hover {
  color: $client-purplish-blue !important;
}

/**************************/
/* HERO SECTION */
/**************************/
.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.hero-image-container img {
  transform: scale(1.5);
}

.hero-content {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: hsla(0, 0%, 0%, 0.3) 0%;
  // background: linear-gradient(
  //   to right,
  //   hsl(0, 0%, 0%) 0%,
  //   hsla(0, 0%, 0%, 0.764) 7.4%,
  //   hsla(0, 0%, 0%, 0.718) 15.3%,
  //   hsla(0, 0%, 0%, 0.662) 23.4%,
  //   hsla(0, 0%, 0%, 0.599) 31.6%,
  //   hsla(0, 0%, 0%, 0.53) 39.9%,
  //   hsla(0, 0%, 0%, 0.355) 48.2%,
  //   hsla(0, 0%, 0%, 0.277) 56.2%,
  //   hsla(0, 0%, 0%, 0.297) 64%,
  //   hsla(0, 0%, 0%, 0.217) 71.3%,
  //   hsla(0, 0%, 0%, 0.137) 78.1%,
  //   hsla(0, 0%, 0%, 0.059) 84.2%,
  //   hsla(0, 0%, 0%, 0.086) 89.6%,
  //   hsla(0, 0%, 0%, 0.017) 94.1%,
  //   hsla(0, 0%, 0%, 0.054) 97.6%,
  //   hsla(0, 0%, 0%, 0) 100%
  // );
}

.hero-header {
  text-shadow: 1px 2px 5px #18191c;
}
.hero-text {
  text-shadow: 1px 1px 10px #18191c;
}

/**************************/
/* INFO SECTION */
/**************************/
.info-topic {
  padding-left: 1rem;
  border-left: 3px solid $client-yellow;
}
.info-topic-inverse {
  padding-right: 1rem;
  border-right: 3px solid $client-yellow;
}

/**************************/
/* OUR EXPERTISE SECTION */
/**************************/
.card {
  transition: all 150ms;
}

.card-img-container {
  overflow: hidden;
}

.card-img-top {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.01);
}

/**************************/
/* TESTIMONIAL SECTION */
/**************************/
.section-testimonials {
  background-image: url("../images/bg_testimonials_web.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.testimonial {
  display: flex;
  flex-direction: column;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 0rem;
}

.testimonial-name {
  margin-top: auto;
  margin-left: 2rem;
  font-size: 0.8rem;
  color: #484848;
}

/**************************/
/* FOOTER SECTION */
/**************************/
.footer-link {
  color: $client-gray;
  text-decoration: none;
}

.footer-link:hover {
  color: #4862c5;
}

.footer-link svg:hover {
  fill: #4862c5;
}

/**************************/
/* LEAVE REVIEW SECTION */
/**************************/
.review-logo {
  width: 11rem;
  transition: all ease 150ms;

  &:hover {
    transform: scale(1.02);
  }
}

/**************************/
/* COPYRIGHT SECTION */
/**************************/
.copyright-link {
  color: #fafafa;
  text-decoration: none;
  &:hover {
    color: $client-purplish-blue;
  }
}

/**************************/
/**************************/
/* BELOW 711px (Smaller desktops) */
/**************************/
/**************************/
@media (max-width: 870px) {
  /**************************/
  /* HERO SECTION */
  /**************************/
  .hero-image-container img {
    transform: scale(2);
  }
}

/**************************/
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
/**************************/
@media (max-width: 768px) {
  /**************************/
  /* HERO SECTION */
  /**************************/
  .hero-image-container {
    height: 800px;
  }
  .hero-image-container img {
    transform: scale(2);
  }
  .hero-content {
    // background: linear-gradient(
    //   hsl(0, 0%, 0%) 0%,
    //   hsla(0, 0%, 0%, 0.764) 7.4%,
    //   hsla(0, 0%, 0%, 0.718) 15.3%,
    //   hsla(0, 0%, 0%, 0.662) 23.4%,
    //   hsla(0, 0%, 0%, 0.599) 31.6%,
    //   hsla(0, 0%, 0%, 0.53) 39.9%,
    //   hsla(0, 0%, 0%, 0.355) 48.2%,
    //   hsla(0, 0%, 0%, 0.277) 56.2%,
    //   hsla(0, 0%, 0%, 0.297) 64%,
    //   hsla(0, 0%, 0%, 0.217) 71.3%,
    //   hsla(0, 0%, 0%, 0.137) 78.1%,
    //   hsla(0, 0%, 0%, 0.059) 84.2%,
    //   hsla(0, 0%, 0%, 0.086) 89.6%,
    //   hsla(0, 0%, 0%, 0.017) 94.1%,
    //   hsla(0, 0%, 0%, 0.054) 97.6%,
    //   hsla(0, 0%, 0%, 0) 100%
    // );
  }

  /**************************/
  /* INFO SECTION */
  /**************************/
  .info-topic-inverse {
    padding-left: 1rem;
    border-right: none;
    border-left: 3px solid $client-yellow;
  }
}

/**************************/
/**************************/
/* BELOW 711px (Smaller desktops) */
/**************************/
/**************************/
@media (max-width: 711px) {
  /**************************/
  /* HERO SECTION */
  /**************************/
  .hero-image-container img {
    transform: scale(3.1);
  }

  /**************************/
  /* LEAVE REVIEW SECTION */
  /**************************/
  .review-logo {
    width: 10rem;
  }
}
