{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Top Line Electric, LLC - About Us - Traverse City, Michigan " %}
<!--  -->
{% set description = "Top Line Electric - Learn About Our Team And Company located in Traverse City, MI" %}
<!--  -->
{% set imgSrc = "/public/images/topline-hero.jpg" %}
<!--  -->
{% set imgAlt = "topline electric van" %}
<!--  -->
{% set pageTitle = "About Us" %}
<!--  -->

{% block content %}
<!-- ---------------------------------- -->
{% include "_page-header.html" %}
<section class="section-page pt-3">
  <div class="container">
    <div class="row col-gap-4">
      <div class="col-3 d-none d-md-block">
        {% include "_services_nav.html" %}
      </div>
      <div class="col">
        <h2 class="fw-bold">
          About Us
        </h2>
       
        
<p>Top Line Electric was founded by Blaine Vadeboncoeur in 2006 to fill an unmet demand: reputable electrical construction done right, the way it should be done. Topline Electric has a team of exceptional, service-oriented electricians who care that the client is more than satisfied at project completion.</p>
<p>Top Line Electric, LLC has worked hard to develop relationships with our customers, which is why our customers continue to contact us for future upgrades, maintenance work and all their electrical services. Top Line Electric has been and will continue to be committed to customer satisfaction. All our employees maintain a high level of pride and professionalism in their work. We realize that the backbone of any company is return customers. Top Line Electric of Traverse City strives to provide our customers with exceptional service at a competitive price.</p>
</div>
<h2 id="our-mission">Our Mission</h2>
<p>Our Mission is to establish lasting relationships with our customers by exceeding their expectations. Our staff has the desire, the knowledge and the training to provide our customers with outstanding professional services. We are dedicated to bringing honesty, integrity and commitment to our industry.</p>
<h3 id="your-full-service-electrician-in-traverse-city-northern-michigan">Your Full-Service Electrician in Traverse City-Northern Michigan</h3>


        
        
        <p>Top Line Electric, located in Traverse City, MI, performs electrical
          construction and repair including remodeling and retrofit electrical
          service for residential clients and commercial clients plus property
          management companies. Serving all of Northern Michigan Top Line
          Electric is second to none in responsiveness. Our service department
          is staffed by professional electricians who share our companies
          commitment to quality, responsive workmanship. With experienced
          technicians we are capable of helping our customers with emergency and
          nonemergency service calls regardless of size efficiently and
          effectively. Comprehensive Electricians in Traverse City, MI.
        </p>
        <p>
          At Top Line Electric, we provide comprehensive electrical services and
          support, including:
        </p>
        <ul>
          <li>24/7 Emergency service</li>
          <li>Expert troubleshooting & repairs</li>
          <li>Rapid response</li>
          <li>Emergency generator capabilities</li>
          <li>Emergency parts & procurement</li>
          <li>Generator/transfer switch maintenance & installations</li>
          <li>Emergency Power response planning</li>
          <li>Maintenance Partnerships</li>
          <li>Bucket and Line Truck Capabilities</li>
          <li>Sports Field Lighting</li>
          <li>Underground fault location and repaire</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include "sections/_services.html" %}
<!--  -->
{% include "sections/_testimonials.html" %}
<!--  -->
{% include "sections/_please-review.html" %}
<!--  -->
{% include "sections/_service-area.html" %}
<!--  -->
{% include "sections/_map.html" %}
<!--  -->
{% endblock %}
