{% extends 'layouts/base.html' %} {% set title = " Top Line Electric, LLC -
Traverse City, Michigan Electrical Services - Home " %} {% set description =
"Whether you’re a small business, large business or a home owner, we can offer
you a professional electrical service experience suited to your individual
needs." %} {% block content %}
<section class="hero">
  <div class="hero-image-container">
    <img
      class="hero-image w-100 position-absolute end-15"
      src="public/images/hero_image_toplineelectric_web.jpg"
      alt="topline electical truck in fall weather with a lift"
    />
    <div class="hero-content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-md-6 col-sm-12 px-4 px-md-3 mb-6 mb-md-0">
            <h1 class="hero-header text-light fw-bold">
              Top Line Electric, Your Electrical Connection!
            </h1>
            <p class="hero-text text-client-yellow lh-sm fw-semibold">
              Whether you’re a small business, large business or a home owner,
              we can offer you a professional electrical service experience
              suited to your individual needs.
            </p>

            <!-- <a
                class="text-dark btn btn-client-yellow fw-bold"
                href="tel:+16031112298"
                >Give us a call!</a
              > -->
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12 ms-auto">
            <form action="" method="" class="row g-2">
              <!-- <h2 class="text-white fw-bold fs-2">Let's get in touch</h2> -->
              <div class="col-md-6">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="firstName"
                  id="inputFirstName"
                  placeholder="First name"
                  autocomplete="given-name"
                />
              </div>
              <div class="col-md-6">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="lastName"
                  id="inputLastName"
                  placeholder="Last name"
                  autocomplete="family-name"
                />
              </div>
              <div class="col-md-12">
                <input
                  required
                  type="email"
                  class="form-control"
                  name="email"
                  id="inputEmail"
                  placeholder="Email"
                  autocomplete="email"
                />
              </div>
              <div class="col-md-12">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="phone"
                  id="inputPhone"
                  placeholder="Phone Number"
                  autocomplete="tel"
                />
              </div>

              <!--
              <div class="col-12">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="address"
                  id="inputAddress"
                  placeholder="Street"
                  autocomplete="street-address"
                />
              </div>

              -->
              
              <div class="col-md-12">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="city"
                  id="inputCity"
                  placeholder="City"
                />
              </div>
              <!-- <div class="col-md-4">
                <select
                  required
                  id="inputState"
                  class="form-select"
                  name="state"
                >
                  <option value="" disbaled selected="">State</option>
                  {% include "_states.html" %}
                </select>
              </div>
              <div class="col-md-2">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="zip"
                  id="inputZip"
                  placeholder="Zip"
                  autocomplete="postal-code"
                />
              </div> -->
              <div class="col-md-12">
                <textarea
                  required
                  type="text"
                  class="form-control"
                  name="description"
                  id="inputDescription"
                  placeholder="Describe what we can help you with..."
                ></textarea>
              </div>

              <div class="d-grid col-12">
                <button type="submit" class="btn btn-client-yellow fw-bold">
                  Let's get in touch
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-info pt-8">
  <div class="container">
    <h2 class="mb-5 fw-bold text-center">We're here for you</h2>
  </div>
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-md-4 d-flex align-items-center">
        <h3 class="fw-bold fs-5 mb-3 info-topic">
          Northern Michigan’s Premier Electrical Contractor
        </h3>
      </div>
      <div class="col">
        <p class="text-dark-gray">
          As Northern Michigan’s premier electrical contractor, Top Line
          Electric in Traverse City responds with licensed electricians in
          fully-equipped vans to handle residential, commercial and industrial
          repairs, remodels, new construction, and maintenance contracts. Our
          professional, uniformed team is licensed, bonded and insured
          electricians respond same-day for electrical emergencies and arrive on
          time for your appointment.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div
        class="col-12 col-md-4 d-flex align-items-center text-md-end order-1 order-md-2"
      >
        <h3 class="fw-bold fs-5 info-topic-inverse">
          Timely & Professional Team of Electricians
        </h3>
      </div>
      <div class="col order-2 order-md-1">
        <p class="text-dark-gray">
          At Top Line Electric, we will give you a free estimate for your
          electrical requirements. We’ll do the job in the cleanest and most
          efficient manner possible. In the case of complex electrical services
          and projects, we are able to meet construction deadlines, saving you
          time and money. Top Line Electric is equipped to manage all of your
          electrical requirements at every level—from multi-million dollar
          new-build projects to minor electrical installations and repairs. In
          all of our work, our goal is to create an electrical system that
          insures safety and energy efficiency, while at the same time equipping
          work spaces for maximum productivity today and as needs grow over
          time.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-md-4 d-flex align-items-center">
        <h3 class="fw-bold fs-5 info-topic">
          Your Locally-Trusted Electrician in Traverse City, MI
        </h3>
      </div>
      <div class="col">
        <p class="text-dark-gray">
          Remodeling your present home has never made more economic sense than
          it does today, and great living upgrades for the modern home begin
          with up-to-date electrical systems that boost your home’s value and
          enhance your lifestyle comfort. At Top Line Electric, our electricians
          in Traverse City provide quality electrical solutions for homeowners
          from the smallest problem to the largest remodeling project.
        </p>
      </div>
    </div>
  </div>
</section>
{% include "sections/_services.html" %}
<!--  -->
{% include "sections/_testimonials.html" %}
<!--  -->
{% include "sections/_please-review.html" %}
<!--  -->
{% include "sections/_service-area.html" %}
<!--  -->
{% include "sections/_map.html" %}
<!--  -->
{% endblock %}
