{% extends 'layouts/base.html' %} {% set title = " Top Line Electric, LLC -
Traverse City, Michigan Electrical Services - Home " %} {% set description =
"Whether you’re a small business, large business or a home owner, we can offer
you a professional electrical service experience suited to your individual
needs." %} {% block content %}
<section class="hero">
  <div class="hero-image-container">
    <img
      class="hero-image w-100 position-absolute end-15"
      src="public/images/hero_image_toplineelectric_web2.jpg"
      alt="topline electical truck in fall weather with a lift"
    />
    <div class="hero-content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-md-6 col-sm-12 px-4 px-md-3 mb-6 mb-md-0">
            <h1 class="hero-header text-light fw-bold">
              Top Line Electric, Your Electrical Connection!
            </h1>
            <p class="hero-text text-client-yellow lh-sm fw-semibold">
              Whether you’re a small business, large business or a home owner,
              we can offer you a professional electrical service experience
              suited to your individual needs.
            </p>

            <!-- <a
                class="text-dark btn btn-client-yellow fw-bold"
                href="tel:+16031112298"
                >Give us a call!</a
              > -->
          </div>
          <div class="col-xl-4 col-md-6 col-sm-12 ms-auto">
            <form action="" method="" class="row g-2">
              <!-- <h2 class="text-white fw-bold fs-2">Let's get in touch</h2> -->
              <div class="col-md-6">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="firstName"
                  id="inputFirstName"
                  placeholder="First name"
                  autocomplete="given-name"
                />
              </div>
              <div class="col-md-6">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="lastName"
                  id="inputLastName"
                  placeholder="Last name"
                  autocomplete="family-name"
                />
              </div>
              <div class="col-md-12">
                <input
                  required
                  type="email"
                  class="form-control"
                  name="email"
                  id="inputEmail"
                  placeholder="Email"
                  autocomplete="email"
                />
              </div>
              <div class="col-md-12">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="phone"
                  id="inputPhone"
                  placeholder="Phone Number"
                  autocomplete="tel"
                />
              </div>
              <div class="col-12">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="address"
                  id="inputAddress"
                  placeholder="Street"
                  autocomplete="street-address"
                />
              </div>
              <div class="col-md-12">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="city"
                  id="inputCity"
                  placeholder="City"
                />
              </div>
              <!-- <div class="col-md-4">
                <select
                  required
                  id="inputState"
                  class="form-select"
                  name="state"
                >
                  <option value="" disbaled selected="">State</option>
                  {% include "_states.html" %}
                </select>
              </div>
              <div class="col-md-2">
                <input
                  required
                  type="text"
                  class="form-control"
                  name="zip"
                  id="inputZip"
                  placeholder="Zip"
                  autocomplete="postal-code"
                />
              </div> -->
              <div class="col-md-12">
                <textarea
                  required
                  type="text"
                  class="form-control"
                  name="description"
                  id="inputDescription"
                  placeholder="Describe what we can help you with..."
                ></textarea>
              </div>

              <div class="d-grid col-12">
                <button type="submit" class="btn btn-client-yellow fw-bold">
                  Let's get in touch
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-info pt-8">
  <div class="container">
    <h2 class="mb-5 fw-bold text-center">We're here for you</h2>
  </div>
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-md-4 d-flex align-items-center">
        <h3 class="fw-bold fs-5 mb-3 info-topic">
          Northern Michigan’s Premier Electrical Contractor
        </h3>
      </div>
      <div class="col">
        <p class="text-dark-gray">
          As Northern Michigan’s premier electrical contractor, Top Line
          Electric in Traverse City responds with licensed electricians in
          fully-equipped vans to handle residential, commercial and industrial
          repairs, remodels, new construction, and maintenance contracts. Our
          professional, uniformed team is licensed, bonded and insured
          electricians respond same-day for electrical emergencies and arrive on
          time for your appointment.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div
        class="col-12 col-md-4 d-flex align-items-center text-md-end order-1 order-md-2"
      >
        <h3 class="fw-bold fs-5 info-topic-inverse">
          Timely & Professional Team of Electricians
        </h3>
      </div>
      <div class="col order-2 order-md-1">
        <p class="text-dark-gray">
          At Top Line Electric, we will give you a free estimate for your
          electrical requirements. We’ll do the job in the cleanest and most
          efficient manner possible. In the case of complex electrical services
          and projects, we are able to meet construction deadlines, saving you
          time and money. Top Line Electric is equipped to manage all of your
          electrical requirements at every level—from multi-million dollar
          new-build projects to minor electrical installations and repairs. In
          all of our work, our goal is to create an electrical system that
          insures safety and energy efficiency, while at the same time equipping
          work spaces for maximum productivity today and as needs grow over
          time.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-md-4 d-flex align-items-center">
        <h3 class="fw-bold fs-5 info-topic">
          Your Locally-Trusted Electrician in Traverse City, MI
        </h3>
      </div>
      <div class="col">
        <p class="text-dark-gray">
          Remodeling your present home has never made more economic sense than
          it does today, and great living upgrades for the modern home begin
          with up-to-date electrical systems that boost your home’s value and
          enhance your lifestyle comfort. At Top Line Electric, our electricians
          in Traverse City provide quality electrical solutions for homeowners
          from the smallest problem to the largest remodeling project.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-expertise py-8">
  <div class="container">
    <h2 class="mb-5 fw-bold text-center">Our Expertise</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1581091212911-f4efc3f71c48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=200q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Automation Controls</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Commercial</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/electrical-services" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1615774925655-a0e97fc85c14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Electrical Services</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1595856619767-ab739fa7daae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Emergency Services</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1610891015188-5369212db097?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Facility Maintenance</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1509390144018-eeaf65052242?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Industrial</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1587582423116-ec07293f0395?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">New Construction</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1601760561441-16420502c7e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0">Remodel</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="nav-link">
          <div class="card">
            <div class="card-img-container">
              <img
                src="https://images.unsplash.com/photo-1555636222-cae831e670b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="card-body text-center">
              <p class="card-title mb-0 mb-0">Residential</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-testimonials py-8 bg-client-yellow">
  <div class="container">
    <div class="text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="#F7CB15"
        class="bi bi-star-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="#F7CB15"
        class="bi bi-star-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="#F7CB15"
        class="bi bi-star-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="#F7CB15"
        class="bi bi-star-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="#F7CB15"
        class="bi bi-star-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
        />
      </svg>
    </div>
    <h2 class="fw-bold text-center mb-0">Testimonials</h2>
    <a
      href="https://maps.app.goo.gl/duRybhq3tu63uHeN9"
      target="_blank"
      class="d-block text-center mb-5 fs-7 text-client-gray link-hover"
      >Click to leave a review</a
    >

    <div>
      <div class="testimonials">
        <figure class="testimonial">
          <blockquote class="testimonial-text">
            I would not hesitate to recommend Top Line Electric to anyone in
            need of any sort of electrical service.
          </blockquote>
          <p class="testimonial-name">&mdash; Kathryn Foote</p>
        </figure>
        <figure class="testimonial">
          <blockquote class="testimonial-text">
            Talk about AMAZING! I will definitely use this team for any future
            needs.
          </blockquote>
          <p class="testimonial-name">&mdash; Bre Dalzell</p>
        </figure>
        <figure class="testimonial">
          <blockquote class="testimonial-text">
            Fast on the scene, good work done quickly, and incredibly reasonably
            priced.
          </blockquote>
          <p class="testimonial-name">&mdash; Duncan Blue</p>
        </figure>
        <figure class="testimonial">
          <blockquote class="testimonial-text">
            First call, fast and fair quote and service within a week! Who could
            ask for more.
          </blockquote>
          <p class="testimonial-name">&mdash; Kenny Miles</p>
        </figure>
        <figure class="testimonial">
          <blockquote class="testimonial-text">
            Would recommend to anybody searching and will certainly use again in
            the future.
          </blockquote>
          <p class="testimonial-name">&mdash; Mark Langlois</p>
        </figure>
        <figure class="testimonial">
          <blockquote class="testimonial-text">
            Whew! Life saver! Thank you , thank you , thank you !! I would
            definitely recommend TopLine ! #happycamper
          </blockquote>
          <p class="testimonial-name">&mdash; Marcia Casey-Cole</p>
        </figure>
      </div>
    </div>
    <!-- <hr />
    <div class="text-center">
      <h3 class="fs-6 fw-bold text-client-gray mt-6 mb-3">
        Leave us a review on
        <span
          ><a
            href="https://www.google.com/maps/place/Top+Line+Electric/@44.662868,-85.6777714,17z/data=!3m1!4b1!4m6!3m5!1s0x881e32a19eb87c7f:0xd65aaee8caee91e7!8m2!3d44.662868!4d-85.6777714!16s%2Fg%2F1tl_mb4q?entry=ttu"
            >Google</a
          ></span
        >
        or
        <span
          ><a href="https://www.facebook.com/toplineelectricllc/"
            >Facebook</a
          ></span
        >
      </h3>
      <a
        class="me-5"
        href="https://www.google.com/maps/place/Top+Line+Electric/@44.662868,-85.6777714,17z/data=!3m1!4b1!4m6!3m5!1s0x881e32a19eb87c7f:0xd65aaee8caee91e7!8m2!3d44.662868!4d-85.6777714!16s%2Fg%2F1tl_mb4q?entry=ttu"
        ><img
          class="review-logo"
          src="/public/images/google_g_icon_download.png"
          alt="google G logo"
      /></a>
      <a href="https://www.facebook.com/toplineelectricllc/"
        ><img
          class="review-logo"
          src="/public/images/Facebook_Logo_Primary.png"
          alt="google G logo"
      /></a>
    </div> -->
  </div>
</section>

<section class="section-leave-review py-8">
  <div class="container text-center">
    <h3 class="fw-bold text-center mb-4">
      Leave us a review on
      <span
        ><a
          target="_blank"
          href="https://www.google.com/maps/place/Top+Line+Electric/@44.662868,-85.6777714,17z/data=!3m1!4b1!4m6!3m5!1s0x881e32a19eb87c7f:0xd65aaee8caee91e7!8m2!3d44.662868!4d-85.6777714!16s%2Fg%2F1tl_mb4q?entry=ttu"
          >Google</a
        ></span
      >
      |
      <span
        ><a target="_blank" href="https://www.facebook.com/toplineelectricllc/"
          >Facebook</a
        ></span
      >
    </h3>
    <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center">
      <a
        target="_blank"
        href="https://www.google.com/maps/place/Top+Line+Electric/@44.662868,-85.6777714,17z/data=!3m1!4b1!4m6!3m5!1s0x881e32a19eb87c7f:0xd65aaee8caee91e7!8m2!3d44.662868!4d-85.6777714!16s%2Fg%2F1tl_mb4q?entry=ttu"
        ><img
          class="review-logo google"
          src="/public/images/google-review.png"
          alt="google G logo"
      /></a>
      <a target="_blank" href="https://www.facebook.com/toplineelectricllc/"
        ><img
          class="review-logo"
          src="/public/images/fb-review.png"
          alt="google G logo"
      /></a>
    </div>
  </div>
</section>

<section class="service-area-section bg-client-yellow-accent py-8">
  <div class="container">
    <h3 class="fw-bold text-center mb-4">
      Proudly serving all the areas listed below
    </h3>
    <div class="text-center">{% include "_serviceAreas.html" %}</div>
  </div>
</section>

<section class="section-map bg-client-yellow-accent2">
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d45404.4630057074!2d-85.677771!3d44.662868!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881e32a19eb87c7f%3A0xd65aaee8caee91e7!2sTop%20Line%20Electric!5e0!3m2!1sen!2sus!4v1696352002029!5m2!1sen!2sus"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
{% endblock %}
