{% extends 'layouts/base.html' %}
<!--  -->
{% set title = "Top Line Electric, LLC - Our Service Area - Traverse City, Michigan " %}
<!--  -->
{% set description = "Top Line Electric - Our service area in the area of Northern Michigan" %}
<!--  -->
{% set imgSrc = "/public/images/topline-hero.jpg" %}
<!--  -->
{% set imgAlt = "topline electric van" %}
<!--  -->
{% set pageTitle = "Service Area" %}
<!--  -->

{% block content %}
<!-- ---------------------------------- -->
{% include "_page-header.html" %}
<section class="section-page pt-3">
  <div class="container">
    <div class="row col-gap-4">
      <div class="col-3 d-none d-md-block">
        {% include "_services_nav.html" %}
      </div>
      <div class="col">
        <h2 class="fw-bold">
          For All Your Electrical Needs in Northern Michigan
        </h2>
        <p>
          Top Line Electric, located in Traverse City, MI, performs electrical
          construction and repair including remodeling and retrofit electrical
          service for residential clients and commercial clients plus property
          management companies. Serving all of Northern Michigan Top Line
          Electric is second to none in responsiveness. Our service department
          is staffed by professional electricians who share our companies
          commitment to quality, responsive workmanship. With experienced
          technicians we are capable of helping our customers with emergency and
          nonemergency service calls regardless of size efficiently and
          effectively. Comprehensive Electricians in Traverse City, MI.
        </p>
        <p>
          At Top Line Electric, we provide comprehensive electrical services and
          support, including:
        </p>
        <ul>
          <li>24/7 Emergency service</li>
          <li>Expert troubleshooting & repairs</li>
          <li>Rapid response</li>
          <li>Emergency generator capabilities</li>
          <li>Emergency parts & procurement</li>
          <li>Generator/transfer switch maintenance & installations</li>
          <li>Emergency Power response planning</li>
          <li>Maintenance Partnerships</li>
          <li>Bucket and Line Truck Capabilities</li>
          <li>Sports Field Lighting</li>
          <li>Underground fault location and repaire</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% include "sections/_services.html" %}
<!--  -->
{% include "sections/_testimonials.html" %}
<!--  -->
{% include "sections/_please-review.html" %}
<!--  -->
{% include "sections/_service-area.html" %}
<!--  -->
{% include "sections/_map.html" %}
<!--  -->
{% endblock %}
