{% extends 'layouts/base.html' %} {% set title = "Top Line Electric, LLC -
Traverse City, Michigan Electrical Services - Electrical Services " %} {% set
description = "Top Line Electric, located in Traverse City, MI, performs
electrical construction and repair including remodeling and retrofit electrical
service for residential clients and commercial clients plus property management
companies." %} {% block content %}
<div class="text-center fw-bold p-9 fs-1">
  <p class="mb-0">welcome to electrical service....</p>
  <p class="fst-italic">[future content here]</p>
</div>
{% endblock %}
